@charset "utf-8";
/* CSS Document */

html, body {
	width: 100%;
	height: 100%;
}

body{
    cursor: default;
}

#colorBand{
	background-color: rgb(227, 49, 69);
}

a{
    color:orangered;
    font-size: 1.250em;
    transition: .2s all ease-in;
    text-shadow: 0.063em 0.063em 0.063em black;
}

a:hover{
    color:red;
    text-decoration: none;
}

a:visited{
    color:orangered;
}

p{
    font-size:1.250em;
}

.socialIcon{
    width:3.125em;
    margin:0.625em;
}

#landing {
	background-image: url('../media/background/grid.png'),  url('../media/background/cooper.jpg');
	background-repeat: repeat, no-repeat;
	background-size: auto, cover;
	background-position: center;
	height: 100vh;
    display:flex;
    align-items:center;
}

.intro{
    color:orangered;
    text-shadow: 0.063em 0.063em 0.063em grey;
    text-align: center;
}

.intro h1{
    font-size:4vw;
    text-align:left;
    display: inline-block;
}

.intro p{
    font-size:2.500em;
    text-align:left;
}

#landingPage {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	height: auto;
	width: 100%;
}

#downArrowBlock{
    position: absolute;
    bottom:0.625em;
    left:50%;
    transform: translate(-50%);
    color:white;
    text-align: center;
}

footer {
	padding-top: 0.625em;
	padding-bottom: 0.625em;
	background-color: orangered;
	color: white;
}
#pageOne, #pageTwo, #pageThree, #pageFour {
	padding-top: 3.125em;
	padding-bottom: 3.125em;
	color:white;
}

#pageOne h1, #pageTwo h1, #pageThree h1, #pageFour h1 {
	color:white;
}

#pageOne {
	background-color: #696969;
}

.project{
    min-height: 17.188em;
    border:solid 0.063em white;
    transition:.2s all ease-in;
}

.project:hover{
    background-color: black;
}

.project:hover a{
    text-shadow: 0.063em 0.063em 0.063em grey;
}

.project h2{
    text-align: center;
    text-shadow: 0.063em 0.063em 0.063em black;
}

.project a{
    text-align: center;
}

.project p{
    margin-bottom:0.625em;
}

.project .linkBlock{
    width:90%;
    position:absolute;
    bottom:0.625em;    
}

#pageTwo {
	background-color: #555555;
	overflow-x:scoll;
}

#pageTwo img{
	margin-top:1.250em;
}
#pageThree {
	background-color: #414141;
}
#pageFour {
	background-color: #2D2D2D;
}
.pageHeader p {
	margin-bottom:3.125em;	
}